
    <footer>
        <nav class="footerNav">
            <ul class="navlinks3">
                <li class="creatorName">Zaina Shawar | Copyright 2022</li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                
                
            </ul>
            <div class="mediaRight">
                <a href="/"><img src="/images/twitter.png" alt="" class="socialMedia"></a>
                <a href="/"><img src="/images/facebook.png" alt="" class="socialMedia"></a>
            </div>
            
            
        </nav>
    </footer>
    
</body>
</html>