
    <footer>
        <nav class="footerNav">
            <ul class="navlinks3">
                <li class="creatorName">Zaina Shawar | Copyright 2022</li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                
                
            </ul>
            <div class="mediaRight">
                <img src="/images/twitter.png" alt="" class="socialMedia">
                <img src="/images/facebook.png" alt="" class="socialMedia">
            </div>
            
            
        </nav>
    </footer>
    
</body>
</html>