<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="../images/logoSymbol.png">
    <title>All Sports</title>
</head>
<body>
    <nav class="siteNav">
        <a href="/"><img src="/images/logo.png" alt="All Sports Logo" class="logo"></a>
        <ul class="navlinks">
            <li><a href="/events/new">New Events</a></li>
            <li><a href="">Login</a></li>
            <li><a href="">Signup</a></li>
        </ul>
    </nav>
    <nav class="generalNav">
        <ul class="navlinks2">
            <li><a href="/">Home</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>