<%- include('./partials/header.ejs') %>

<main>
    <section class="content">
        <h1>CONTACT ALL SPORTS</h1>
        <p>If you have and questions or concerns don't hesitate to reach out to us! Our team will
            get back to you as soon as they can.
        </p>
        <p>Address - 83742 Mayberry Lane, Charlotte, NC 28373</p>
        <p>Email - allsportsallday@gmail.com</p>
        <p>Phone - 704-340-4221</p>
    </section>
    <div class="contentImage">   
        <img src="/images/contact.png" alt="Contact Icons" class="mainImages">
    </div>
    
</main>

<%- include('./partials/footer.ejs') %>