<%- include('./partials/header.ejs') %>

<main>
    <section class = "content">
        <h3><%= error.status %> Error</h3> 
        <p><%= error.message %></p>
    </section>
</main>
    

<%- include('./partials/footer.ejs') %>